body {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: hsl(0, 0%, 100%);
    margin: 0 0 40px 0;
}
p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    padding-right: 50px;
}
strong {
    color: hsl(277, 64%, 61%);
}


.flex-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 940px;
    max-height: 446px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    margin-left: -75px;
}
.block-left {
    display: inline-block;
    width: 400px;
    padding: 65px 75px 65px 75px;
}


/* Тоже Флекс? */
.block-stat {
    display: flex;
    padding-top: 75px;
}
.stat-text {
    display: inline;
    padding-right: 65px;
}
.number {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: hsl(0, 0%, 100%);
    margin: 0 0 15px;
}
.stat {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: hsla(0, 0%, 100%, 0.6);
}


img {
    display: inline-block;
    width: 540px;
    height: auto;
    border-radius: 0 10px 10px 0;
    opacity: 40%;
}
.block-right {
    display: flex;
    width: 540px;
    border-radius: 0 10px 10px 0;
    background-color: hsl(277, 64%, 61%);
}





.block-left-img {
    display: inline-block;
    width: 440px;
    padding: 65px 75px 65px 75px;
}
.block-right-img {
    display: block;
    min-width: 540px;
    max-height: 446px;
    border-radius: 0 10px 10px 0;
    background-color: hsl(277, 64%, 61%);
    background-image: url('images/image-header-desktop.jpg');
    background-blend-mode: overlay;
    opacity: 100%;
}