html {
    font-family: 'Karla', sans-serif;
}
body {
    background-color: hsl(204, 43%, 93%);
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-weight: 700;
    font-size: 24px;
    color: hsl(179, 62%, 43%);
    padding-bottom: 10px;
}
h2 {
    font-weight: 700;
    font-size: 18px;
    color: hsl(71, 73%, 54%);
}
h3 {
    font-weight: 400;
    font-size: 16px;
    color: hsl(218, 22%, 67%);
}
h4 {
    font-weight: 700;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
}
h5 {
    font-weight: 400;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
}
h6 {
    font-weight: 700;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
}
p {
    font-weight: 400;
    font-size: 15px;
    color: hsl(179, 77%, 78%);
}
.price {
    font-weight: 700;
    font-size: 24px;
    color: hsl(0, 0%, 100%);
    padding-right: 5px;
    vertical-align: middle;
}
.but-sign {
    text-align: center;
    width: auto;
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    box-shadow: 0 5px 5px 1px hsl(179, 61%, 39%);
    padding: 11px;
}



.flex-container {
    display: flex;
    min-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    background-color: hsl(179, 61%, 39%);
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px hsl(206, 41%, 88%);
    justify-content: flex-start;
    align-items: flex-start;
}
.all-blocks {
    display: inline-block;
}
.block-top {
    display: block;
    background-color: hsl(0, 0%, 100%);
    padding: 25px 45px;
    border-radius: 10px 10px 0 0;
}
.flex-blocks-bottom {
    display: flex;
    height: 275px;
}
.blocks-bottom {
    display: inline-block;
    width: 260px;
    padding: 20px 45px 45px 45px;
}