@media (max-width: 920px) {
    .header-menu-grid {
        display: none;
    }

    .header-right {
        display: none;
    }

    .header-hamburger {
        display: block;
    }
}

@media (max-width: 921px) {
    .circles-flex {
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 921px) {
    .grid-left-img-1 {
        width: 250px;
        height: 200px;
    }

    .grid-left-img-2 {
        width: 250px;
        height: 200px;
    }

    .grid-right-img {
        width: 450px;
        height: 400px;
    }
}

@media (max-width: 921px) {
    .section-4-block-img {
        background-position: right;
        width: 500px;
    }

    .section-4-block-text {
        width: 95%;
        padding: 0;
    }
}

@media (max-width: 921px) {
    .s-5-l-2 {
        width: 22%;
    }

    .s-5-r-4 {
        width: 19%;
    }
}

@media (max-width: 921px) {
    .circles-digital-grid {
        overflow: hidden;
    }
}

@media (max-width: 921px) {
    .section-6-container {
        width: 70%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .flex-left-program {
        width: 100%;
    }

    .flex-left-program-img img {
        width: 100%;
    }

    .flex-right-community {
        width: 100%;
    }

    .flex-right-community-img img {
        width: 100%;
    }
}

@media (max-width: 921px) {
    .section-7-block {
        gap: 25%;
        margin: 40px 0;
    }

    .s-7-adress {
        width: 35%;
    }
}

@media (max-width: 921px) {
    .section-8-flex-bk {
        grid-template-columns: 85px auto;
        padding-left: 0;
    }
    .s-8-block-f-bk-img-1 {
        width: 560px;
        height: 300px;
    }
}

@media (max-width: 921px) {
    .f-right-1col {
        width: 100px;
    }

    .f-right-2col {
        width: 120px;
    }
}

@media (max-width: 921px) {
    .footer-bottom {
        gap: 0px;
    }

    .f-bottom-left {
        gap: auto;
    }

    .f-bottom-right {
        width: auto;
    }
}

@media (max-width: 921px) {
    .section-9-grid-a {
        grid-template-columns: 25% 60%;
    }

    .s-9-block-a-img-2 {
        width: 115%;
    }

    .section-9-row-grid {
        width: 100%;
        padding: 25px 100px 25px 10px;
    }
}

@media (max-width: 921px) {
    .section-9-grid-h {
        grid-template-columns: 90%;
        grid-template-rows: auto;
        row-gap: 75px;
    }

    .s-9-block-h-text {
        margin-top: -35px;
    }
}

@media (max-width: 921px) {
    .s-20-info-grid {
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 35px;
    }
    .s-20-info-grid-img-1 {
        width: 450px;
    }
}

@media (max-width: 921px) {
    .s-20-info-flex-block {
        width: 90%;
    }
}

@media (max-width: 921px) {
    .section-20-rest-container {
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 55px;
    }

    .s-20-rest-block-1 {
        width: 75%;
    }

    .s-20-rest-block-2 {
        width: 75%;
    }
}

@media (max-width: 921px) {
    .section-20-rules-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    #s-20-row-prelastcell {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    #s-20-row-lastcell {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }
}

@media (max-width: 921px) {
    .s-3-e-flex-imgs {
        row-gap: 45px;
    }

    .s-3-e-img-oval {
        width: 520px;
        height: 630px;
    }

    .s-3-e-img-oval-big-big {
        width: 100%;
        height: 430px;
    }

    .s-3-e-img-square {
        width: 520px;
        height: 630px;
    }

    .s-3-e-img-radius {
        width: 520px;
        height: 530px;
    }

    .s-3-e-img-radius-big {
        height: 430px;
    }
}

@media (max-width: 921px) {
    .s-5-e-l-1 {
        width: 30%;
    }
}

@media (max-width: 921px) {
    .section-8-top-left {
        margin-right: 20%;
    }

    .section-8-flex {
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-items: center;
        row-gap: 45px;
    }
    .s-8-block-text {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 70%;
        margin-right: 0;
    }
    .s-8-block-img {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

@media (max-width: 921px) {
    .section-5-container-collections-grid {
        grid-template-columns: 40% 40%;
        grid-template-rows: auto;
        row-gap: 35px;
        margin-top: 35px;
    }
    .s-5-c-top-3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .s-5-c-bottom-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

@media (max-width: 921px) {
    .section-8-grid-a-r {
        grid-template-columns: 45% 50%;
        column-gap: 15px;
    }
    .section-8-grid-a-r p {
        padding-right: 5%;
    }
}

@media (max-width: 921px) {
    .section-8-grid-a-r-img {
        grid-template-columns: 45% 55%;
        column-gap: 15px;
    }
    .s-8-block-a-r-img-1 {
        width: 315px;
        height: 500px;
    }
    .s-8-block-a-r-img-2 {
        width: 415px;
        height: 250px;
    }
}

@media (max-width: 921px) {
    .section-8-grid-c-c {
        grid-template-columns: 115px 600px;
        row-gap: 35px;
    }

    .s-8-block-c-c-1 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 550px;
    }
    .s-8-block-c-c-1 p {
        padding-right: 25%;
    }
    .s-8-block-c-c-2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 550px;
    }
    .s-8-block-c-c-2 p {
        padding-right: 0%;
    }
}

@media (max-width: 921px) {
    .section-8-map-flex {
        flex-direction: column;
    }
    .section-8-map-flex p {
        padding-right: 20%;
    }
    .s-8-map-img {
        width: 600px;
        height: 600px;
    }
}

@media (max-width: 921px) {
    .section-21-container {
        margin-bottom: -10%;
    }
}

@media (max-width: 921px) {
    .tab-content {
        width: 72%;
    }

    #s-20-tab-ub {
        transform: translate(30%, -21%);
    }
    #s-20-tab-lb {
        transform: translate(30%, -24%);
    }
    #s-20-tab-b21 {
        transform: translate(30%, -38.7%);
    }
    #s-20-tab-gs {
        transform: translate(30%, -56%);
    }
}



/* ///////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 921px) {
    .s-item-top {
        column-gap: 35px;
        width: 100%;
    }
    .s-item-top-text {
        width: 210px;
        margin-bottom: 10%;
    }
    .s-item-top-text .section-2 {
        margin-top: -20%;
    }
    .s-item-top-img {
        width: 280px;
        height: 360px;
    }
    .s-item-top-img img {
        object-fit: cover;
        object-position: top;
    }

    .section-21-also-block-flex {
        justify-content: space-around;
        flex-wrap: nowrap;
        column-gap: 35px;
        width: 90%;
    }
    .s-21-block-img {
        width: 200px;
        height: 200px;
    }
    .s-21-block-text {
        width: 200px;
    }
}



@media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
        background-color: #000000;
    }
}